@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700;800&family=Kumbh+Sans:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
     --regular: 'Kumbh Sans';
     --heading: 'DM Sans';
     --main-color: rgb(15, 45, 127);
     --secondary-color: rgb(255, 215, 0);
     --bg-white: rgb(255, 255, 255);
}
body{
    background: var(--bg-white);
    font-family: var(--regular);
}